* {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(29, 29, 29);
}

p {
    margin: 10px;
    font-weight: bold;
}

button {
    width: 75px;
    height: 75px;
    background-color: rgb(35, 36, 46);
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}

button:hover {
    background-color: rgb(41, 43, 59);
}

button:active {
    box-shadow: 0px 0px 20px rgb(42, 45, 70);
    background-color: rgb(42, 45, 70);
}

#buttonsPanel {
    width: 500px;
    display: flex;
}

#buttonsNumbers {
    width: 57%;
    flex-wrap: wrap;
    display: flex;
}

#buttonsSigns {
    width: 40%;
}

#conclusion {

    height: 75px;
    width: 355px;
    background-color: rgb(35, 36, 46);
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}